.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: green
}

h2 {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.sponsors {
  display:flex;
  justify-content: space-around;
  margin-top:10%;
}

.navbar {
  margin-bottom: 10px ;
}

.navbar > a{
  margin: 0 10px;
  text-decoration: none;
  color: red
}

.navbar > a:hover{
  color: blue
}

.deletebttn {
  background-color: #1d8b20; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Login-container {
  display: block;
  font-size: 22px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: green
}

.Login-writing{
  display: block;
  font-size: 15px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: rgb(8, 88, 8)
}

.button-color{
  background-color: #1d8b20; /* Green */
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin-top:4%;
}


